<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("0fc22009-e230-49f3-9670-547ea14917eb");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
